html, body, div,
h1, h2, p,
a,footer, header{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font-family: sans-serif;
    
}

.container {
    font-size: 32px;
    margin: 128px auto;
    width: 768px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 32px;

}


.calculatrice {
    margin: 0 auto;
    background-color: whitesmoke;
    border: 1px solid #3D3D3D;
    width: 279px;
}

.header {
    border-top: 1px solid #777;
    border-radius: 6px 6px 0 0;
    padding: 10px;
}

.resultat {
    text-align: right;
    background-color: #121212;
    border: none;
    border-bottom: 1px solid #777;
    color: #C8C8C8;
    font-size: 20px;
    padding: 16px;
    width: 227px;
}

 .body {
    padding: 0 5px;

} 

.buttons {
    text-align: center;
    padding: 7px 12px;
    font-size: 20px;
    text-shadow: 0 -1px 1px #000;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    border-top: 1px solid #777;
    width: 34px;
    background: #5F5F5F;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}

 .buttons:hover {
    background: white;   
}
